body {
    width: 80%;
    margin: auto;
    font-family: sans-serif;
    color: #444;
}
h1{
    color: orange;
    text-align: center;
    background-color: #fac877;
    font-size: 46px;
    border: groove;
}
h2{
    color: orange;
    background-color: #fac877;
    font-size: 30px;
    border-bottom: solid;
}
p{
    font-size: 20px;
   
}
.mudar_somente{
    color: #232323;
}
.negão{
    color: #ff0000;
}
h1, p, div, footer{
    border: 3px solid red;
}