body{
    font-family: Arial, sans-serif;
    background: rgb(0, 112, 177);
    margin: 0; /*margem do texto*/

}
h1{
    font-size: 70px;
}
.font{
    font-size: 30px;
    color: rgb(25, 0, 255);
    margin-top: 40px;
}
.baner{
    background-image: url(./img/Marlon\ -\ Logo\ novo4.png);
    background-position: right center;
    background-size: cover;
    padding: 10px;
    height: 500px;
}
.baner nav li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    /*border: 1px solid rgb(0, 0, 0);*//*dorda feia*/
    margin-left: 1px;
    
}
.baner nav a {
    display: block;
    padding: 15px;/*Defini uma distancia do conteudo das bordas*/
    background: rgba(0,0,0, 0.3);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;/* quebra de linha*/
}
.baner nav a:hover{
    background: rgba(0,0,0, 0.5);
}
.baner nav ul{
    text-align: right;
}
.informações{
    text-align: center;
    color: rgb(82, 82, 182);

}
.informações h1{
    text-transform: uppercase;
    text-shadow: 6px 3px 2px rgb(4, 4, 119);
}
.informações p{
    background-color: rgba(0,0,0, 0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
    border-radius: 10px;
}
main{
    width: 80%;/*largura*/
    margin: auto;/*altura*/
}
.section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    overflow: auto;/* nao serve para altura mas e util*/
}

.card{ /*foi colocado class card para geral
    podendo então mexer em todas as imagens de uma vez*/
    width: 19%;
    float: left;
}
.card1, .card2{
    margin-right: 2%;
}
.card p {
    background-color: black;
    color: white;
    margin: auto;
    
    padding: 10px;
    
}
.card .p4{
    margin-left:25px ;
    width: 258px;
}


.img1{
    height: 270px;/*altura*/
    width: 278px;
    display: block;
    
    
}
.img2{
    height: 270px;
    width: 278px;
    display: block;
    
}
.img3{
    height: 270px;
    width: 278px;
    display: block;
}
.img4{
    width: 278px;
    height: 270px;
    margin-left: 9%;
    display: block;

}

.h2{
    border-bottom: solid 3px rgb(141, 141, 141);
    background-color: rgb(209, 208, 208);
    padding: 10px;
    margin-top: 4px;
}
.rodape{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background: rgb(0, 112, 177);
    padding-top: 30px;
}
