#um{
    background: red;
    padding: 10px;
    width: 100%;
    height: 80px;
    /*caso coloque o relative na div1 a div3 vai se relacionar com a div1*/
    /*relative e para ficar relacionado a ele mesmo
    */
}
#dois{
    background: orange;
    padding: 10px;
    width: 100%; 
    height: 50px;
    position: relative;/*vai se relacionar com a div3 nesse caso*/
/*ja o static passa a se relacionar com o documento*/
}
#tres{
    background: blue;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0;
}